@import url(../_content/app.less);

.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    margin: @spacing-small @size-medium;
}

.extracted {
    display: flex;
    align-items: center;
    padding-left: @spacing-medium;
}

.number {
    font-size: @text-xxlarge;
}

.number-meaning {
    padding-left: @spacing-small;
    font-size: @text-xlarge;
    text-align: right;
    #traduzione {
        font-size: @text-large;
        color: @secondary;
    }
}

.cartellone {
    background-color: rgba(255,255,255,0.1);
    box-shadow: @shadow-small;
    border-radius: @size-xsmall;
    padding: @spacing-small;
    width: fit-content;
}

.cella {
    font-size: @text-large;
    color: @primary;
    &.selected::after {
        content: " ";
        -webkit-transform: rotateZ(40deg);
        transform: rotateZ(40deg);
        background-image: url(../../assets/img/fagiolo.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        width: inherit;
        height: inherit;
    }
}