@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);


/* ==== NO SELECT ==== */
.tabella,
.button,
.cartella-wrapper {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ==== FONT RENDERING OSX ==== */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ==== TRANSITION ==== */
.switch:before,
.cartella-wrapper,
td,
table,
.cartelle td:before,
.cartelle span,
#traduzione,
#didascalia,
#number,
.circle,
.overlayInner,
#oval circle,
#disableExtract,
.footerFixed,
.spiegaTabellone,
.home .button:before,
.home .button:after {
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

p,
.sidebar,
body,
.cartella-wrapper {
  -moz-transition: background 500ms;
  -webkit-transition: background 500ms;
  transition: background 500ms;
}

.overlay {
  -moz-transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

/* ==== MIXINS ==== */
.MakeRandom(@min: 0, @max: @min+1, @int: 0) {
    .checkInt() {
        @getNum: `Math.random() * (@{max} - @{min} + @{int})`;
        @base: unit(`@{int} == 1 ? Math.floor(@{getNum}) : @{getNum}`);
    }
    .checkInt();
    @randNum: @base + @min;
}

/* ==== COLORS ==== */

@color1: #C54E47;

@color2: #A33B35;

@color3: #81C8AD;

@color4: #569980;

@color5: #E4C332;

@color6: #CEB029;

@text-secondary: #ccc;

@text-primary: #fff;

@text-inverse: #222;

/* ==== SIZES ==== */
@size-xsmall: 26px;

@size-small: 36px;

@size-medium: 52px;

@spacing-xsmall: 8px;

@spacing-small: 15px;

@spacing-medium: 30px;

@spacing-large: 50px;

/* ==== FONT SIZES ==== */

@text-small: 12px;

@text-medium: 15px;

@text-large: 18px;

@text-xlarge: 26px;

@text-xxlarge: 80px;


/* ==== SHADOWS ==== */
@shadow-small: 0px 1px 8px 0 rgba(0, 0, 0, 0.3);


/* ==== COMMON ELEMENTS ==== */
.app {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../assets/img/santa.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    font-family: 'Lato', sans-serif;
    color: @text-primary;
}

a {
    cursor: pointer;
    text-decoration: none;
}

h1, h2 {
    margin-bottom: @spacing-medium;
}

h3 {
    margin-bottom: @spacing-small;
}

ul {
    padding-left: 0;
}

li {
    line-height: @size-small;
    display: flex;
    align-items: center;
    padding: @spacing-xsmall 0;
    &::before {
        content: "·";
        padding: 0;
        margin: 0 @spacing-small 0 0;
    }
    div {
        flex-grow: 1;
    }
}

p {
  font-size: @text-medium;
  line-height: 24px;
  font-weight: 500;
}

.text-danger {
    color: @color1;
}

.text-highlight {
    color: @color5;
}

hr {
    border-top: 1px solid #fff;
    margin: @spacing-large 0;
}

.form-control:focus {
    color: #495057;
    border-color: @color3;
    box-shadow: 0 0 0 0.2rem fade(@color3, 20%);
}

form label {
    text-transform: uppercase;
    font-size: @text-small;
    letter-spacing: 1px;
}

.form-group.d-flex {
    .button {
        flex-grow: 1;
        flex-basis: 50%;
        &:not(:first-child) {
            margin-left: @spacing-small;
            flex-grow: 1;
            display: flex;
            justify-content: center;
        }
    }
}

.button {
    background-color: @color1;
    color: @text-primary;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: @size-medium;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: @size-medium/2;
    padding: 0 @spacing-medium;
    text-align: center;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.4);
    transition: all 300ms;
    &:hover {
        background-color: @color2;
    }
    &:focus {
        outline: 0;
        border-color: @color3;
        box-shadow: 0 0 0 0.2rem fade(@color3, 20%);
    }
    &.button-link {
        background-color: transparent;
        border: 1px solid @text-primary;
        color: @text-primary;
        box-shadow: none;
        text-transform: none;
        font-size: @text-medium;
        &:hover {
            background-color: #fff;
            color: @text-inverse;
        }
    }
    &.button-small {
        font-size: @text-small;
        height: @size-xsmall;
        padding: 0 @spacing-small;
        box-shadow: none;
    }
}

#disableExtract.button {
    background: #F5EFEA;
    cursor: default;
    color: #E2A064;
    box-shadow: inset 0 0 0px 2px #E2A064;
    opacity: 0;
    z-index: 0;
  }
  
  #disableExtract.button.active {
    cursor: default;
    opacity: 1;
    display: block;
    z-index: 20;
  }

.intro {
    width: 500px;
    min-height: calc(~"100vh - "@size-medium);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.widget {
    background-color: #fff;
    max-height: 290px;
    overflow: auto;
    color: @text-inverse;
    border-radius: 10px;
    padding: @spacing-medium;
}


/* ==== PAGE: CARTELLE ==== */
#cartelle {
  margin-bottom: 120px;
}

.cartelle .logo {
  width: 110px;
  height: 84px;
  display: block;
  margin: 40px auto 40px;
}

.cartelle .cartella-wrapper {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 18px;
  display: inlin-block;
  margin: 0 auto 30px;
  width: 454px;
}

.cartelle table {
  table-layout: fixed;
  border-collapse: collapse;
}

.cartelle td {
  border: 1px solid #E9DDD3;
}

.cartelle table {
  border: 2px solid #FFFFFF;
}

.cartelle td {
  font-size: 22px;
  color: #7E6755;
  position: relative;
  width: 49px;
  height: 49px;
  text-align: center;
}

.cartelle td.clickable {
  cursor: pointer;
}

.cartelle td.clickable:hover span {
  color: #65503f;
}

.cartelle td.emptyCell {
  cursor: default;
}

.cartelle td span {
  position: absolute;
  z-index: 1;
  line-height: 52px;
  height: 49px;
  width: 49px;
  overflow: hidden;
  top: 0px;
  right: 0px
}

.cartelle .selected span {
  font-size: 13px;
  height: 20px;
  width: 20px;
  right: 0px;
  top: 0px;
  line-height: 20px
}

.cartelle td:before {
  content: "";
  background-image: url(https://tombolagratis.it/img/fagiolo.png);
  background-size: cover;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 3px;
  left: 3px;
  z-index: 0;
}

.cartelle .selected:before {
  content: "";
  width: 43px;
  height: 36px;
}

@media(max-width: 500px) {
  .cartelle .cartella-wrapper {
    width: 253px;
  }

  .cartelle .emptyCell {
    display: none;
  }
}

@media(max-width: 600px) {
  .cartelle .logo {
    margin: 25px auto;
  }
}



/* ==== HACK FIREFOX ==== */
@-moz-document url-prefix() {
  .tabellone .option01 {
    display: none;
  }
}

/* ADV
.cartelle .footerFixed{height:150px}
.advFooterCartella{background: rgb(0 0 0 / 8%);max-height:90px;width:100%;position:absolute;top:0;left:0;text-align:center;z-index:1;}
/* ADV */