@import url(../_content/app.less);

.cartelle{
  min-height: calc(~"100vh - "@size-medium);
}

.estratti {
  background-color: rgba(255,255,255,0.1);
  box-shadow: @shadow-small;
  border-radius: @size-xsmall;
  padding: @spacing-small;
  display: flex;
  font-size: @text-xlarge;
  font-weight: bold;
  transition: width 500ms;
  overflow: auto;
  div {
    padding: 0 @spacing-small;
  }
}

.cartelle-lista {
  display: flex;
  flex-wrap: wrap;
}

.cartella {
  color: @inverse;
  font-size: @text-medium;
  background-color: #fff;
  box-shadow: @shadow-small;
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 10px;
  margin: @spacing-medium;
  margin-left: 0;
  padding: @spacing-xsmall;
  padding-left: 0;
  overflow: hidden;
  .riga:not(:last-child) {
    border-bottom: 1px solid #fff;
  }
  .cella {
    font-size: inherit;
    color: inherit;
    z-index: 0;
    span {
      background-color: #eee;
      border-radius: 8px;
      min-width: @size-small;
      min-height: @size-small;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.selected span {
      background-color: @color1;
      color: @primary;
    }
  }
  .risultato {
    background-color: #f5f5f5;
    color: @color7;
    display: flex;
    align-items: center;
    -webkit-mask-image: url(../../assets/img/star-fill.svg);
    mask-image: url(../../assets/img/star-fill.svg);
    mask-size: 66%;
    mask-repeat: no-repeat;
    mask-position: center;
    &.checked {
      background-color: @color5;
    }
  }
}


/* ==== PAGE: CARTELLE ==== */
/* #cartelle {
    margin-bottom: 120px;
  }
  
  .cartelle .logo {
    width: 110px;
    height: 84px;
    display: block;
    margin: 40px auto 40px;
  }
  
  .cartelle .cartella-wrapper {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 18px;
    display: inlin-block;
    margin: 0 auto 30px;
    width: 454px;
  }
  
  .cartelle table {
    table-layout: fixed;
    border-collapse: collapse;
  }
  
  .cartelle td {
    border: 1px solid #E9DDD3;
  }
  
  .cartelle table {
    border: 2px solid #FFFFFF;
  }
  
  .cartelle td {
    font-size: 22px;
    color: #7E6755;
    position: relative;
    width: 49px;
    height: 49px;
    text-align: center;
  }
  
  .cartelle td.clickable {
    cursor: pointer;
  }
  
  .cartelle td.clickable:hover span {
    color: #65503f;
  }
  
  .cartelle td.emptyCell {
    cursor: default;
  }
  
  .cartelle td span {
    position: absolute;
    z-index: 1;
    line-height: 52px;
    height: 49px;
    width: 49px;
    overflow: hidden;
    top: 0px;
    right: 0px
  }
  
  .cartelle .selected span {
    font-size: 13px;
    height: 20px;
    width: 20px;
    right: 0px;
    top: 0px;
    line-height: 20px
  }
  
  .cartelle td:before {
    content: "";
    background-image: url(https://tombolagratis.it/img/fagiolo.png);
    background-size: cover;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 3px;
    left: 3px;
    z-index: 0;
  }
  
  .cartelle .selected:before {
    content: "";
    width: 43px;
    height: 36px;
  }
  
  @media(max-width: 500px) {
    .cartelle .cartella-wrapper {
      width: 253px;
    }
  
    .cartelle .emptyCell {
      display: none;
    }
  }
  
  @media(max-width: 600px) {
    .cartelle .logo {
      margin: 25px auto;
    }
  } */