<div class="row justify-content-md-center tavola">
  <div class="col-lg-3">
    {{lastMessage}}
    <div class="extracted">
      <div class="number-meaning" *ngIf="session !== undefined && session.stato < 2">
        <div id="didascalia">{{estratto.text}}</div>
        <div id="traduzione">{{estratto.translation}}</div>
      </div>
      <div class="number text-highlight" *ngIf="session !== undefined && session.stato < 2" id="number">
        {{estratto.number}}</div>
    </div>
    <img src="https://media.tenor.com/images/058ff8a79ff935322a3616f9a070fc92/tenor.gif" width="300" *ngIf="winner">
    <img src="https://data.whicdn.com/images/203330328/original.gif" width="300" *ngIf="paid">
  </div>
  <div class="col-lg-8">
    <h1>Cartelle costo {{session.costoCartella}} &euro;
      <span *ngIf="numeroCartelle > 0">
        (totale: {{+session.costoCartella * numeroCartelle}} &euro;)
      </span>
    </h1>
    <div class="genera" *ngIf="session != null && session.stato == 0 && savedCount == 0 && !owner">
      <form [formGroup]="cartelleForm" (ngSubmit)="setCartelle()" >
        <div class="input-button-group d-flex">
          <div class="form-group">
            <label for="numeroCartelle">Numero Cartelle</label>
            <input type="text" formControlName="numeroCartelle" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.numeroCartelle.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Numero Cartelle is required</div>
            </div>
          </div>
          <button [disabled]="loading" class="button button-link">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Genera
          </button>
        </div>
      </form>
      <div class="form-group d-flex">
        <button [disabled]="numeroCartelle == 0" class="button" (click)="save()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Salva
        </button>
      </div>
    </div>
    <div class="container" *ngIf="session != null && numeroCartelle > 0 && !owner">
      <div class="row" *ngIf="estratti.length > 0">
        <div class="estratti">
          <div *ngFor="let estratto of estratti; let e = index">
            <span *ngIf="e > (estratti.length - 20)">{{estratto.number}}</span></div>
        </div>
      </div>
      <div class="row">
        <div class="cartelle-lista">
          <div class="cartella" *ngFor="let cartella of cartelle; let ca = index">
            <div class="riga" *ngFor="let riga of cartella.numeri; let r = index">
              <div [attr.class]="cartella.risultatiArray[+r] > 0 ? 'risultato checked' : 'risultato'">
                {{(cartella.risultatiArray[+r] > 0) ? cartella.risultatiArray[+r] : ''}}
              </div>
              <div *ngFor="let numero of riga; let c = index" [attr.class]="numero.issued?'cella selected' : 'cella'">
                <span>{{numero.number}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
